.vscode/
claude.md
*.pdf
node_modules

# Secrets – ära lisa kunagi versioonihaldusse
backend_opiteed/src/main/resources/application-prod.properties
backend_opiteed/src/main/resources/application-dev.properties
